<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="table-activity.html">
<link rel="import" href="table-component-style.html">
<!--
`tabla-component`


@demo demo/index.html 
-->
<dom-module id="table-component">
    <template>
        <style include="table-component-style"></style>  
        <style>
            /**
            *   ### Styling
            *  `<table-activity>` provides the following custom properties and mixins
            *   for styling:
            *
            *         Custom property                    |             Description                |     Default
            *  ------------------------------------------|----------------------------------------|-----------------
            *    --table-component-table                 |  Mixin applied to table                |       {}
            *    --table-component-header                |  Mixin applied to header               |       {}
            *    --table-component-title                 |  Mixin applied to header               |       {}
            *    --table-component-wrapper-buttons       |  Mixin applied to wrapper buttons      |       {}
            *    --table-component-date-add-button       |  Mixin applied to add and date buttons |       {}
            *    --table-component-date-prev             |  Mixin applied to add prev button      |       {}
            *    --table-component-date-next             |  Mixin applied to add next button      |       {}
            *    --table-component-plus-button           |  Mixin applied to plus button          |       {}
            *    --table-component-container             |  Mixin applied to plus button          |       {}
            *  ------------------------------------------|----------------------------------------|-------------------
            */
            :host {
                display: block;
                
            }
        </style>
        <section class="table">
            <header class="header">
                <section class="wrapper-title">
                    <p class="title">
                        Próximos movimientos de tus cuentas
                    </p>
                    <p class="weekly-amount">
                        -$4,336.00 <span> Por esta semana</span>
                    </p>
                </section>
                <section class="wrapper-buttons">
                    <div class="wrapper-date">
                        <div class="date-button"> 
                            <span class="date-prev"></span>
                            Hoy
                            <span class="date-next"></span>
                        </div>
                    </div>
                    <div class="wrapper-add">
                        <button class="add-button"> 
                            <span class="plus-button"> + </span>
                            Agregar
                        </button>
                    </div>
                </section>
            </header>
            <section class="container">
                <template is="dom-repeat" items="[[data]]" as="d">
                    <table-activity data="[[d]]"></table-activity>
                </template>        
            </section>
        </section> 
    </template>
    <script>
        Polymer({
            is: 'table-component',
            ready:function(){
                this.data = [ 
                    {
                        date:"13/02/2017",
                        details:[
                            {
                                title: "Nomina",
                                amount: 4000
                            }
                        ]
                    },
                    {
                        date:"14/02/2017",
                        details:[
                            {
                                title: "TelCel",
                                amount: -7000
                            },
                            {
                                title: "Renta",
                                amount: -3200
                            }
                        ]
                    },
                    {
                        date:"15/02/2017",
                        details:[]
                    },
                    {
                        date:"16/02/2017",
                        details:[
                            {
                                title: "Netflix",
                                amount: -159
                            }
                        ]
                    },
                    {
                        date:"17/02/2017",
                        details:[]
                    },
                    {
                        date:"18/02/2017",
                        details:[]
                    },
                    {
                        date:"19/02/2017",
                        details:[]
                    },
                ]
            },
        });
    </script>
</dom-module>
