<dom-module id="table-component-style">
    <template>
        <style>
        .table{
            background-color: #f4f4f4;
            margin: 10px auto;
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            @apply(--table-component-table)
        }
        .header {
            border-bottom: 1px solid #d9d9d9;
            display: flex;
            align-items: center;
            padding: 15px;
            @apply(--table-component-header)
        }
        .wrapper-title {
            display: flex;
            justify-content: space-between;
            width: 70%;
        }
        .title {
            color: #636363;
            text-transform: uppercase;
            @apply(--table-component-title)
        }
        .weekly-amount {
            color: #5b5b5b;
        }
        .wrapper-buttons {
            display: flex;
            flex-grow: 1;
            @apply(--table-component-wrapper-buttons)
        }
        .wrapper-date,
        .wrapper-add {
            display: flex;
            justify-content: center;
            width: 50%;
        }
        .date-button,
        .add-button {
            border: none;
            color: #3e75c6;
            font-weight: bold;
            font-size: 16px;
            height: 30px;
            width: 100px;
            align-items: center;
            display: flex;
            background-color: transparent;
            line-height: 30px;
            padding: 0px 5px;
            justify-content: space-between;
            outline: none;
            @apply(--table-component-date-add-button)
        }
        .date-prev,
        .date-next {
            cursor: pointer;
            transform: rotate(45deg);
            height: 10px;
            width: 10px;
        }
        .date-prev {
            border-bottom: solid 3px #97bade;
            border-left: solid 3px #97bade;
            border-bottom-left-radius: 2px;
            @apply(--table-component-date-prev)
        }
        .date-next {
            border-top: solid 3px #3e75c6;
            border-right: solid 3px #3e75c6;
            border-bottom-right-radius: 2px;
            @apply(--table-component-date-next)
        }
        .wrapper-add {
            cursor: pointer;
            width: 100px;
        }
        .plus-button {
            background-color: #3e75c6;
            border-radius: 50%;
            color: #fff;
            width: 20px;
            height: 20px;
            line-height: 19px;
            @apply(--table-component-plus-button)
        }
        .container {
            display: flex;
            justify-content: flex-start;
            padding: 15px;
        @apply(--table-component-container)
        }
        </style>
    </template>
</dom-module>