<link rel="import" href="table-activity-style.html">
<dom-module id="table-activity">  
    <template>
        <style include="table-activity-style"></style>
        <style> 
            /**
            *   ### Styling
            *  `<table-activity>` provides the following custom properties and mixins
            *   for styling:
            *
            *         Custom property                    |             Description                |     Default
            *  ------------------------------------------|----------------------------------------|-----------------
            *    --table-activity-activity               |  Mixin applied to activity             |       {}
            *   --table-activity-today                      Mixin applied to today                |       {}
            *   --table-activity-today-date                 Mixin applied to today date           |       {}
            *   --table-activity-date                       Mixin applied to date                 |       {}
            *   --table-activity-detail                     Mixin applied to detail               |       {}
            *   --table-activity-title                      Mixin applied to title of activity    |       {}
            *   --table-activity-amount                     Mixin applied to amount               |       {}
            *   --table-activity-plus                       Mixin applied to plus items           |       {}
            *   --table-activity-today-background           Background color of the bullet        |     #3e75c6
            *   --table-activity-today-color                Font color of activity today          |     #636363
            *   --table-activity-plus-color                 Font color of plus items              |     #303030
            *  ------------------------------------------|----------------------------------------|-------------------
            */
            :host{
                display: flex;
                color: #5b5b5b;
                padding: 15px;
                flex-direction: column;
                transition: 0.5s;
                align-items: center;
                width: 15%;
                box-sizing: border-box;
            }
            :host:not(:last-of-type) {
                border-right: 1px solid #d9d9d9;
            }
        </style>
       <article class$="[[getClass(data.date)]]">
            <p class="date">
               [[date]]
            </p>
            <template is="dom-repeat" items="[[data.details]]" as="detail">
                <div class="detail">
                    <p class="title">
                        [[detail.title]]
                    </p>
                    <p class="amount">
                        [[detail.amount]]
                    </p>
                </div>
            </template>   
        </article>
    </template>
    <script>
        Polymer({
            is:"table-activity",
            properties:{
                /* this property is an Array and store the data*/
                data:{
                    type: Array
                },
                filtroC:{
                    type: String,
                    computed:"filterAmount(data)"
                },
                filtroF:{
                    type: String,
                    computed:"filterDate(data)"
                },
                date:{
                    type:String
                }
            },
            /**
            *   this method is used to give to amount this format $**.00 
            */
            filterAmount:function(d){
                if(d.details.length > 0){
                    for(var i in d.details ){
                        var amount = "$"+d.details[i].amount+".00";
                        if(amount.indexOf("-") > 0){
                            var a = amount.split("-");
                            a = "-"+ a.join("");
                            d.details[i].amount = a;
                        }else{
                            d.details[i].amount = amount;
                        }  
                    }
                } 
            },
            /**
            *   this method is used to give to date format 
            */
            filterDate:function(d){
                var date = new Date();
                var months = ["ene","feb","mar","abr","may","jun",
                            "jul","ago","sep","oct","nov","dec"];
                var currentMonth = date.getMonth()+1;
                var today = date.getDate()+"/"+(
                        currentMonth > 9 ? currentMonth : "0"+ currentMonth)
                        +"/"+date.getFullYear();
                let [day,month,year] = d.date.split("/");
                month = (month > 9 ? month : month.split(0)[1] );
                var nextDay = new Date(date.getTime() + 24*60*60*1000);
                nextDay = nextDay.getDate();
                var limitMonth = new Date(year,month,0);
                if(d.date == today){
                    var dateValue = "Hoy, " + day +" "+ months[month-1];
                    this.date= dateValue; 
                }
                else if(day==nextDay){
                    var dateValue = "Mañana, " + day +" "+ months[month-1];
                    this.date = dateValue; 
                }
                else{
                    this.date = day +" "+ months[month-1];
                }
            },
            /**
            *   this method is used to set the special class when the date is equal today
            */
            getClass:function(d){
                var date = new Date();
                var today = date.getDate();
                if(d.split("/")[0] == today){
                    return "activity today";
                }
                return "activity";
            },
        });
    </script>
</dom-module>