<dom-module id="table-activity-style">
    <template>
        <style>
            .activity{
                width: 100%;
                height: 100%;
                @apply(--table-activity-activity);
            }
            .activity.today {
                position: relative;
            }
            .activity.today:after {
                bottom: 0;
                border-radius: 50%;
                content: "";
                position: absolute;
                background-color: var(--table-activity-today-background, #3e75c6);
                width: 10px;
                height: 10px;
                left:0;
                right: 0;
                margin: auto;
                @apply(--table-activity-today);
            }
            .activity.today .date {
                color: var(--table-activity-today-color, #636363);
                font-weight: bold;
                @apply(--table-activity-today-date);
            }
            .date {
                padding-bottom: 20px;
                font-size: 13px;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
                @apply(--table-activity-date);
            }
            .detail {
                text-align: center;
                padding-bottom: 15px;
                width: 100%;
                @apply(--table-activity-detail);
            }
            .title {
                margin-bottom: 4px;
                @apply(--table-activity-title);
            }
            .amount{
                @apply(--table-activity-amount);
            }
            .plus {
                color: var(--table-activity-plus-color, #303030);
                cursor: pointer;
                font-weight: bold;
                @apply(--table-activity-plus);
            }
        </style>
    </template>
</dom-module>